/* Centra las imágenes y ajusta el tamaño */
.image {
  width: 400px; /* Ajusta el tamaño según sea necesario */
  height: 500px;
  object-fit: cover; /* Evita distorsión de las imágenes */
  border-radius: 15px; /* Opcional: bordes redondeados */
  background-color: transparent;
}

/* Asegura que el contenedor ocupe todo el espacio */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  background-color: transparent; /* Ajusta según el diseño */
}

/* Ajusta el Swiper */
.swiper_container {
  width: 90%;
  height: 500px;
  max-width: 1400px;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: transparent;
  overflow: hidden;
}

/* Evita que los slides tengan un tamaño inconsistente */
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.heading{
  color:white;
  margin:20px;
  font-family: "Geoform";
  font-weight: 900;
}

.swiperBack{
  background-color: transparent;
}