.divContainer{
  width: 100%;
  height: 80px;
  background-color: grey;
  display: flex;
  justify-content: space-between;
}


.containerTitle{
  flex-grow: 1;
  height: 100%;
}



.button{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .containerButtons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  width: 300px;
} */

@media (max-width: 480px){
  .buttonContainer{
    display: none;
  }
}


@media(min-width: 481px) and (max-width:767px){
  .buttonContainer{
    display: none;
  }
}

@media (min-width: 768px)and (max-width: 1024px){
  .buttonContainer{
    display: none;
  }
}

@media (min-width:1025px) and (max-width: 1160px) {
  .button{
    display: none;
  }

  .buttonContainer{
    width: 50%;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  .buttons{
    margin: 20px;
    font-size: 20px;
  }
}

@media (min-width: 1161px) and (max-width: 1300px) {
  .button{
    display: none;
  }

  .buttonContainer{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
  }

  .buttons{
    margin:20px;
    font-size: 20px;
  }
}

@media (min-width: 1301px){
  .buttonContainer{
    display: flex;
    width:43%;
    justify-content: space-between;
    align-items: center;
  }

  .button{
    display: none;
  }

  .buttons{
    margin:25px;
    font-size: 20px;
  }
}


